:host {
  font-family: "Gilroy" !important;

  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  .dialog-root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    .dialog-wrapper {
      width: 100%;
      box-sizing: border-box;
      padding: 40px;
      gap: 30px;
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      h2 {
        font-family: "Gilroy";
        font-weight: bold;
        font-size: 20px;
      }

      .dialog-upper {
        width: 100%;
        h4 {
          font-family: "Gilroy" !important;
          font-size: 24px;
          font-weight: bold;
          color: #4a4a4a;
        }

        .img-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          .poke-img {
            height: 150px;
            width: 150px;
            object-fit: contain;
          }

          .icon-btn {
            transform: scale(2);
            cursor: pointer;
          }
        }
      }

      .dialog-body {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow: hidden;

        ::ng-deep .mat-tab-group {
          width: 100%;
          overflow-y: auto;

          .mat-tab-label {
            min-width: 60px !important;
            font-family: "Gilroy";
            font-weight: 800;
            color: #000000;
          }
        }

        h3 {
          font-family: "Gilroy" !important;
          font-size: 30px;
          font-weight: bold;
          color: #4a4a4a;
        }

        .subtitle {
          font-size: 18px;
          font-weight: 600;
          font-family: "Gilroy";
          text-align: center;
        }

        .stat-wrapper {
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;

          .label {
            font-family: "Gilroy";
            font-size: 20px;
            font-weight: 500;
            color: #4a4a4a;
          }

          .stat-col {
            width: 100%;

            .stat-row {
              display: flex;
              align-items: center;
              gap: 20px;
              font-family: "Gilroy";
              font-size: 16px;
              font-family: 500;
              font-weight: 500;

              .left {
                flex: 1;
                display: flex;
                align-items: center;
              }

              .right {
                flex: 1;
                display: flex;
                align-items: center;
              }
            }
          }

          .value {
            font-family: "Gilroy";

            &.list {
              display: flex;
              align-items: center;
              gap: 10px;
              flex-wrap: wrap;
            }

            &.desc {
              text-align: center;
              width: 90%;
              font-family: "Gilroy";
              font-weight: 500;
              font-size: 16px;
            }
          }
        }

        .type-card {
          width: fit-content;
          padding: 5px 12px;
          color: #252323;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          line-height: 1;
          font-family: "Gilroy";
          background-color: #0000000d;
          border-radius: 20px;
        }
      }
    }
  }
}

// ! Progress Bar Styles, extract component
:host {
  .progress-bar {
    width: 100%;
    appearance: none;
  }

  progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
  }

  progress::-webkit-progress-value {
    background: linear-gradient(to right, #007bff, #00bfff);
    border-radius: 5px;
  }
}

:host {
  .child {
    display: flex;
    align-items: center;

    img{
      cursor: pointer;
    }
  }

  .inner {
    padding-left: 50px;
  }

  .upper-row {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon-btn {
      cursor: pointer;
      transform: scale(1.5);
    }
  }
}
