<main class="dashboard-root">
  <div class="dashboard-wrapper">

    <!-- * Pokemon Search Input -->
    <input
      class="search-input"
      type="text"
      placeholder="Search a pokemon by full name"
      [formControl]="searchControl"
    />

    <!-- * Pokemon Search Input -->
    <div class="body-wrapper">
      
      <!-- * Skeleton Loading In Place Of Grid -->
      <ng-container *ngIf="loading">
        <div class="loading-wrapper">
          <ngx-skeleton-loader
            *ngFor="let item of skeletonArray"
            appearance="line"
            style="height: 124px; width: 100%"
            [theme]="{ height: '124px', width: '100%' }"
          ></ngx-skeleton-loader>
        </div>
      </ng-container>

      <!-- * Pokemon Grid -->
      <ng-container *ngIf="!loading">
        <div *ngIf="pokemonList.length" class="pokemon-list">
          <app-pokemon-card
            *ngFor="let pokemon of pokemonList"
            [pokemon]="pokemon"
            (clickEvent)="openPokemon($event)"
          ></app-pokemon-card>
        </div>
        <div class="no-data-wrapper" *ngIf="!pokemonList.length">
          No such pokemon found. Note : Use full name of the pokemon
        </div>
      </ng-container>

      <!-- * Pokemon Pagination -->
      <div
        class="proxy-paginator"
        *ngIf="
          pokemonList.length &&
          (!searchControl?.value || searchControl?.value?.trim() == '')
        "
      >
        <div class="left"></div>
        <div class="right">
          <mat-icon
            (click)="backPage()"
            class="icon-btn {{ pageNumber <= 0 ? 'disabled' : '' }}"
            >keyboard_arrow_left</mat-icon
          >
          <span>{{ pageNumber + 1 }}</span>
          <mat-icon
            (click)="nextPage()"
            class="icon-btn {{ pageNumber >= totalPages ? 'disabled' : '' }}"
            >keyboard_arrow_right</mat-icon
          >
        </div>
      </div>

    </div>
  </div>

  <!-- * The Top Right Pokeball Background Image -->
  <div class="pokeball-bg"></div>
</main>
