@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/gilroy-fonts/gilroy-regular.woff2) format('woff2');
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/gilroy-fonts/gilroy-medium.woff2) format('woff2');
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/gilroy-fonts/gilroy-semi-bold.woff2) format('woff2');
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/gilroy-fonts/gilroy-bold.woff2) format('woff2');
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/gilroy-fonts/gilroy-bold.woff2) format('woff2');
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 900;
	src: url(../fonts/gilroy-fonts/gilroy-extra-bold.woff2) format('woff2');
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	src: url(../fonts/gilroy-fonts/gilroy-extra-bold.woff2) format('woff2');
}