:host {
  font-family: "Gilroy" !important;

  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  .dialog-root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .dialog-upper {
      h4 {
        font-family: "Gilroy" !important;
        font-size: 24px;
        font-weight: bold;
        color: #4a4a4a;
      }

      .img-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .poke-img {
          height: 200px;
          width: 200px;
          object-fit: contain;
        }

        .icon-btn {
          transform: scale(2);
          cursor: pointer;
        }
      }
    }

    .dialog-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-family: "Gilroy" !important;
        font-size: 30px;
        font-weight: bold;
        color: #4a4a4a;
      }

      .stat-wrapper {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .label {
          font-size: 20px;
          font-weight: 500;
          color: #4a4a4a;
        }

        .value {
          &.list {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }

      .type-card {
        width: fit-content;
        padding: 5px 12px;
        color: #252323;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        font-family: "Gilroy";
        background-color: #0000000d;
        border-radius: 20px;
      }
    }
  }
}
