/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f6f8fc;
  font-family: 'Gilroy' !important;
}

.center-dialog-no-shadow {
	position: relative !important;
}

.center-dialog-no-shadow .mat-dialog-container {
	padding: 0px;
	border-radius: 10px !important;
	box-shadow: none !important;
}

.light-backdrop {
	background: #121212;
	opacity: 0.09 !important;
}